
.circle-image {
    width: 35px; /* Adjust the width and height as needed */
    height:35px;
    border-radius: 50%;
    object-fit: cover; /* This property ensures the image maintains its aspect ratio */
  }


